target/
**/target/

build/
**/build/
CMakeFiles/
**/CMakeFiles/
CMakeCache.txt
**/CMakeCache.txt
cmake_install.cmake
**/cmake_install.cmake
Makefile
**/Makefile

.DS_Store
**/.DS_Store
Thumgbs.db
**/Thumbs.db

.vscode/
**/.vscode/
.idea/
**/.idea/

*.log
/**/*.log
